
@{
    ViewBag.Title = "Thanks For Voting";
}

<h2>Thank You</h2>

<p>


    @ViewBag.candidateID
    @ViewBag.userID<br />
    @ViewBag.userStatusId<br />
    @ViewBag.userStatusDescription<br />



    @ViewBag.UserCountry<br />
    @ViewBag.CandidateCountry<br />
    @ViewBag.candidateCampaign<br />
    @ViewBag.result<br />
    @ViewBag.CampaignID



</p>